<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body style="background-color: lightgray">
<h1>Welcome to input processor</h1>
<div>
    <form action="#" th:action="@{/}" method="post" enctype="multipart/form-data" th:object="${inputModel}">
        <fieldset>
            <legend>Process several text inputs</legend>
            <textarea
                      placeholder="Write your text here"
                      style="font-size: large"
                      th:field="*{textInput1}"
            ></textarea>
            <textarea
                      placeholder="Write your text here"
                      style="font-size: large"
                      th:field="*{textInput2}"
            ></textarea>
        </fieldset>
        <fieldset>
            <legend>Upload yor text files</legend>
            <input type="file" name="inputFile" th:field="*{file1}">
            <br>
            <input type="file" name="inputFile" th:field="*{file2}">
        </fieldset>
        <br>
        <fieldset>
            <legend>Select a separator for your output:</legend>

            <div>
                <input type="radio" id="spaceSeparator" name="separator" value=" " checked />
                <label for="spaceSeparator">' ' (<i>single space</i>)</label>
            </div>

            <div>
                <input type="radio" id="commaSeparator" name="separator" value="," />
                <label for="commaSeparator">'<strong>,</strong>' (<i>comma</i>)</label>
            </div>

        </fieldset>
        <br>
        <button type="submit">Process text</button>
    </form>
</div>

<div th:if="${tokens}">
    <h2>There is output:</h2>
    <p th:text="${tokens}"></p>
</div>

<div th:if="${tokens}">
    <tr th:each="string: ${tokens}">
        <td th:text="${string}"></td>
        <br>
    </tr>
</div>

<h5>Previous results:</h5>
<form action="/previous-results" method="get">
    <button type="submit">See previous results</button>
</form>
</body>
</html>